{% assign moods = site.data.moods %}
{% for mood in site.data.moods %}
<div class="container mx-auto">
  <div class="w-full bg-indigo-900 p-16 flex m-4">
    <div class="flex-1 sm:w-full md:w-1/2 lg:w-1/2 h-64 lg:h-auto bg-cover text-center overflow-hidden" style="background-image: url('https://tailwindcss.com/img/card-left.jpg')" title="{{mood.image_alt}}">
    </div>
    <div class="flex-1 sm:w-full md:w-1/2 p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <div class="text-white font-bold text-xl mb-2">{{mood.title}}</div>
        <p class="text-gray-100 text-base">{{mood.description}}</p>
      </div>
      <button class="bg-pink-600 hover:bg-pink-800 text-white font-bold py-2 px-4 rounded">
        {{mood.cta_label}}
      </button>
    </div>
  </div>
</div>
{% endfor %}
