<section class="w-full max-w-screen-xl mx-auto px-6 m-4">
  <h1 class="text-3xl p-2">Des séjours <span class="text-indigo-600">selon votre humeur</span></h1>
  {% for mood in site.data.moods %}
  <div class="container mx-auto p-2">
    <div class="w-full bg-indigo-900 p-2 flex">
      <div class="flex-1 sm:w-full md:w-1/2 lg:w-1/2 h-64 lg:h-auto bg-cover text-center overflow-hidden m-8" style="background-image: url('/assets/{{mood.image_link}}')" title="{{mood.image_alt}}"></div>
      <div class="flex-1 sm:w-full md:w-1/2 p-4 {{if }}flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <div class="text-xs font-bold uppercase text-teal-700 mt-1 mb-2">Humeur</div>
          <div class="text-white font-bold text-xl mb-2">{{mood.title}}</div>
          <p class="text-gray-100 text-base">{{mood.description}}</p>
        </div>
        <a class="px-4 py-2 bg-pink-600 text-white hover:bg-pink-800 font-bold text-center rounded" href="https://www.weekendesk.fr/sejour/STP1_7VRS1_9/" target="_blank">{{mood.cta_label}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>