<section class="mx-auto max-w-6xl py-12">

  <div class="flex flex-col">

    <div class="flex flex-col md:flex-row justify-center items-center">
      <div class="transition-all ease-in-out duration-1000 flex flex-col justify-center mr-0 md:mr-2">
        <div slot="bottom-left" class="max-w-xs">

          {% assign destinations = site.data.destination %}
          {% for destination in site.data.destinations %}

          <div class="p-5 shadow-md m-2 mt-4"><img class="object-scale-down h-30" src="https://s.spielwarenmesse.de/fileadmin/data_archive/Relaunch_Spielwarenmesse/magazine/header/20190618_Header_Memes.jpg" alt="step3">
            <div class="text-xs font-bold uppercase text-teal-700 mt-1 mb-2">Blog post</div>
            <div class="text-xl font-bold mb-2">{{destination.title}}</div>
            <div class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ut vel facilis iste, dicta est minus alias, aliquam, velit nisi quo assumenda porro dignissimos doloremque temporibus eum saepe aspernatur ab.</div>
          </div>
          
          {% endfor %}

        </div>
      </div>
      
  </div>
  
</section>